.site-nav {
  text-align: center;
  margin: 2rem 0;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav li {
  display: inline-block;
  margin: 0 0.75rem;
}

.site-nav a {
  text-decoration: none;
  font-weight: 500;
  opacity: 0.85;
}

.site-nav a:hover {
  opacity: 1;
  text-decoration: underline;
}
